<!-- CUERPO DEL EJERCICIO -->
<main>


  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">

      <li class="list-group-item">{{newCita.name}}</li>
      <li class="list-group-item">{{newCita.lastname}}</li>
      <li class="list-group-item">{{newCita.email}}</li>
      <li class="list-group-item">{{newCita.phone}}</li>
      <li class="list-group-item">{{newCita.date}}</li>
      <p>Su identificador es {{newCita.id}}. Si desea modificar su cita entre en:
        http://localhost:8080/modificarcita/{{newCita.id}}

      </p>

    </ul>

  </div>


</main>